{% extends 'base.html' %}

{% block header %}
  <h1>YOUR ACCOUNT</h1>
{% endblock %}

{% block content %}
  <h1>ACCOUNT # {{user.userlogin}}</h1>
    <h2> Name: {{user.username}} </h2><br>
    <h2> Surname: {{user.surname}} </h2><br>
    <h2> Age: {{user.age}} </h2><br>
    <!--todo: post-->
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{{ url_for('user.deleted') }}">Deleted Account</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{{ url_for('user.corrected') }}">Corrected</a>
    </li>

{% endblock %}